@use "variables" as var;

:host {
  --color-gray-100: #{var.$color-gray-100};
  --color-gray-200: #{var.$color-gray-200};
  --color-gray-300: #{var.$color-gray-300};
  --color-gray-400: #{var.$color-gray-400};
  --color-gray-500: #{var.$color-gray-500};
  --color-gray-600: #{var.$color-gray-600};
  --color-gray-700: #{var.$color-gray-700};
  --color-gray-800: #{var.$color-gray-800};
  --color-gray-900: #{var.$color-gray-900};
  --color-gray-950: #{var.$color-gray-950};

  --space-xxs: #{var.$space-xxs};
  --space-xs: #{var.$space-xs};
  --space-s: #{var.$space-s};
  --space-m: #{var.$space-m};
  --space-l: #{var.$space-l};
  --space-xl: #{var.$space-xl};
  --space-xxl: #{var.$space-xxl};

  --radius-s: #{var.$radius-s};
  --radius-m: #{var.$radius-m};
  --radius-l: #{var.$radius-l};
  --radius-full: #{var.$radius-full};

  --color-border-divider: #{var.$border-divider};
  --color-border-subtle: #{var.$border-subtle};
  --color-border-default: #{var.$border-default};
  --color-border-strong: #{var.$border-strong};
  --color-border-dark: #{var.$border-dark};
  --color-border-focus: #{var.$border-focus};
}
